.container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #efeff4;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  min-height: 338px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  background-color: #fff;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 40px 0;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input {
  margin-right: 20px;
  height: 32px;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  padding: 0px 8px;
  color: rgb(50, 49, 48);
  font-size: 14px;
  width: 256px;
}

.button {
  height: 32px;
  background-color: rgb(0, 120, 212);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 0 16px;
  cursor: pointer;
  font-size: 14px;
}